<ul class="site-header-actions" data-header-actions>
  {% if shop.customer_accounts_enabled %}
    {% unless customer %}
      <li class="site-header-actions__account-link">
        <a href="{{ routes.account_login_url }}" class="site-header__account-icon">
          {% render 'icon-library', id: 'icon-account' %}
        </a>
        <a href="{{ routes.account_login_url }}" class="site-header_account-link-text">
          Account
        </a>
      </li>
    {% else %}
      <li class="site-header-actions__account-link">
        <span class="site-header__account-icon">
          {% render 'icon-library', id: 'icon-account' %}
        </span>
        <span class="site-header__account-links">
         <a href="{{ routes.account_url }}" class="site-header__account-link--account">{{ 'header.account.title' | t }}</a>
         <a href="{{ routes.account_logout_url }}" class="site-header__account-link--logout" data-no-instant>{{ 'header.account.logout' | t }}</a>
        </span>
      </li>
    {% endunless %}
  {% endif %}
  <li class="site-header-actions__account-link">
    <a href="#swym-wishlist" class="swym-wishlist">
      <i aria-hidden="true" focusable="false" role="presentation" class="icon icon-swym-wishlist"></i>
      Favourites
    </a>
  </li>
</ul>
<style>
  i.icon-swym-wishlist {
    font-family: 'swym-font';
    font-style: normal;
    vertical-align: middle;
  }
  i.icon-swym-wishlist+span {
    vertical-align: middle;
  }
  i.icon-swym-wishlist:after {
    content: '';
    font-size: 130%;
    line-height: 18px;
    text-align: center;
    display: inline;
  }
  /*content rendered after swym is ready to avoid showing block/invalid chars*/
  .swym-ready i.icon-swym-wishlist:after {
    content: '\f004';
  }
</style>