<div class="about-section">
    <div class="title-div-ab">
        <div class="about-title"><h1>{{ section.settings.about-title }}</h1></div>
        <div class="about-subtitle"><span>{{ section.settings.about-sub }}</span></div>
    </div>
    <div class="p-div">
        <p>
            Trusted Home Direct is a family-owned business that specializes in designing and building dream kitchens for Americans. With over 50 years of experience in the home and kitchen industry, we have carefully selected the best and most reliable home appliance manufacturers in the world.
        </p>
        <p>We founded Trusted Home Direct after experiencing firsthand the challenges of finding high-quality and affordable home goods and appliances when we built our first home. We wanted to make the process of finding quality home products easier, more transparent, and more affordable for homeowners, contractors, landlords, and property managers.</p>
    </div>
    <div class="about-dis-div">
        <div class="about-displays">
            <div class="inner-about">
                <div class="box-p-div">
                    <h1>{{ section.settings.box-title-1 }}</h1>
                    <p>{{ section.settings.box-p-1 }}</p>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/about-image-1_600x_5ac92678-18a0-42e2-a958-a2f22a716ab4.webp?v=1673113997" width="332" height="332" alt="">
            </div>
        </div>
        <div class="about-displays-2">
            <div class="inner-about">
                <img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/about-image-2_600x_e3560902-1d4a-4792-8d3a-c2a2aa568351.webp?v=1673113997" width="332" height="332" alt="">
                <div class="box-p-div">
                    <h1>{{ section.settings.box-title-2 }}</h1>
                    <p>{{ section.settings.box-p-2 }}</p>
                </div>            
            </div>
        </div>
        <div class="about-displays">
            <div class="inner-about">
                <div class="box-p-div">
                    <h1>{{ section.settings.box-title-3 }}</h1>
                    <p>{{ section.settings.box-p-3 }}</p>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/about-image-3_600x_12cd1ba7-6a7a-4d80-a228-6c6d06c29f97.webp?v=1673113997" width="332" height="332" alt="">
            </div>
        </div>
    </div>
</div>

<div class="about-mobile">
    <img class="img-top" src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/testimonial_banner_1594x_f82d5506-cbc9-4901-90f1-795e61a3a09b.webp?v=1672715220" alt="">
    <div class="title-div-ab-mob">
        <div class="about-title"><h1>{{ section.settings.about-title }}</h1></div>
        <div class="about-subtitle"><span>{{ section.settings.about-sub }}</span></div>
    </div>
    <div class="p-div">
        <p>
            Trusted Home Direct is a family-owned business that specializes in designing and building dream kitchens for Americans. With over 50 years of experience in the home and kitchen industry, we have carefully selected the best and most reliable home appliance manufacturers in the world.
        </p>
        <p>We founded Trusted Home Direct after experiencing firsthand the challenges of finding high-quality and affordable home goods and appliances when we built our first home. We wanted to make the process of finding quality home products easier, more transparent, and more affordable for homeowners, contractors, landlords, and property managers.</p>
    </div>
    <div class="about-dis-div">
        <div class="about-displays">
            <div class="inner-about">
                <div class="box-p-div">
                    <h1>{{ section.settings.box-title-1 }}</h1>
                    <p>{{ section.settings.box-p-1 }}</p>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/about-image-1_600x_5ac92678-18a0-42e2-a958-a2f22a716ab4.webp?v=1673113997" width="332" height="332" alt="">
            </div>
        </div>
        <div class="about-displays-2">
            <div class="inner-about">
                <img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/about-image-2_600x_e3560902-1d4a-4792-8d3a-c2a2aa568351.webp?v=1673113997" width="332" height="332" alt="">
                <div class="box-p-div">
                    <h1>{{ section.settings.box-title-2 }}</h1>
                    <p>{{ section.settings.box-p-2 }}</p>
                </div>            
            </div>
        </div>
        <div class="about-displays">
            <div class="inner-about">
                <div class="box-p-div">
                    <h1>{{ section.settings.box-title-3 }}</h1>
                    <p>{{ section.settings.box-p-3 }}</p>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/about-image-3_600x_12cd1ba7-6a7a-4d80-a228-6c6d06c29f97.webp?v=1673113997" width="332" height="332" alt="">
            </div>
        </div>
    </div>

</div>

<style>
    .title-div-ab{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-image:linear-gradient(180deg,transparent,#000 139.98%,#000),url('https://cdn.shopify.com/s/files/1/0694/3499/9087/files/testimonial_banner_1594x_f82d5506-cbc9-4901-90f1-795e61a3a09b.webp?v=1672715220');
        background-repeat: no-repeat;
        background-position-y: bottom;
        color: #FFF;
    }

    .about-mobile{
        display: none;
    }

    .about-subtitle{
        font-size: 18px;
        max-width: 800px;
        text-align: center;
    }

    .p-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 60px;
    }

    .p-div > p{
        width: 50%;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        --bs-gutter-x: 1,5rem;
    }

    .about-dis-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 70px;
    }

    .about-displays{
        display: flex;
        background-color: #f6f4f3;
        width: 65%;
        margin-left: -70px;
    }
    .about-displays-2{
        display: flex;
        background-color: #f6f4f3;
        width: 65%;
        margin-right: -70px;

    }

    .inner-about{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .inner-about > img{
        max-width: 40%;
        height: auto;
        object-fit: contain;
    }

    .box-p-div{
        padding:50px;
    }

    .box-p-div > h1{
        font-weight: 700;
        font-size: 22px;
        line-height: 1.5;
        display: block;
        letter-spacing: 4.5px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    .box-p-div > p{
        max-width: 90%;
    }

    @media (max-width:1071px) {
        .about-mobile{
            display: block;
        }

        .img-top{
            max-width: 100%;
            height: auto;
        }

        .about-section{
            display: none;
        }

        .title-div-ab-mob{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .about-title{
            font-weight: 700;
            font-size: 22px;
            line-height: 1.5;
            display: block;
            letter-spacing: 4.5px;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            text-align: center;
        }

        .about-subtitle{
            font-weight: 400;
            font-size: 18px;
            line-height: 1.5;
            padding-left: 25px;
            padding-right: 25px;
        }

        .p-div > p{
            width: 90%;
        }


        .about-displays{
            display: flex;
            background-color: #f6f4f3;
            width: 95%;
            margin-left: 0px;

        }
        .about-displays-2{
            display: flex;
            background-color: #f6f4f3;
            width: 95%;
            margin-right: 0px;


        }
    }
    @media (max-width:590px) {
        .about-displays .inner-about{
            flex-direction: column-reverse;
        }

        .inner-about{
            flex-direction: column;
        }

        .about-displays{
            width: 100%;
            margin-left: 0px;
        }
        .about-displays-2{
            width: 100%;
            margin-right: 0px;
        }

        .inner-about > img{
            max-width: 100%;
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            height: auto;
        }
        .box-p-div > p{
            max-width: none;
        }
    }
    }
</style>

{% schema %}
    {
        "name": "JGL About Us Section",
        "settings": [
            {
                "type":"text",
                "id":"about-title",
                "label":"About us Section Title",
                "default": "PRICE EFFICIENT WAY TO SOURCE TOP QUALITY HOME GOODS"
            },
            {
                "type":"text",
                "id":"about-sub",
                "label":"About us Section Sub-Title",
                "default": "We are a family owned company that prides ourselves to serve our cients with utmost honesty and transparency"
            },
            {
                "type":"text",
                "id":"box-title-1",
                "label":"Box Title 1",
                "default": "We are a family owned company that prides ourselves to serve our cients with utmost honesty and transparency"
            },
            {
                "type":"text",
                "id":"box-p-1",
                "label":"Box Text 1",
                "default": "We are a family owned company that prides ourselves to serve our cients with utmost honesty and transparency"
            },
            {
                "type":"text",
                "id":"box-title-2",
                "label":"Box Title 2",
                "default": "We are a family owned company that prides ourselves to serve our cients with utmost honesty and transparency"
            },
            {
                "type":"text",
                "id":"box-p-2",
                "label":"Box Text 2",
                "default": "We are a family owned company that prides ourselves to serve our cients with utmost honesty and transparency"
            },
            {
                "type":"text",
                "id":"box-title-3",
                "label":"Box Title 3",
                "default": "We are a family owned company that prides ourselves to serve our cients with utmost honesty and transparency"
            },
            {
                "type":"text",
                "id":"box-p-3",
                "label":"Box Text 3",
                "default": "We are a family owned company that prides ourselves to serve our cients with utmost honesty and transparency"
            }
        ],
        
        "presets": [
    {
      "name": "JGL About Us Section"
    }]
}
{% endschema %}

