<div class="jgl-4-way">
    <div class="step-4">
        <div class="span-div-4">
            <img src="{{ section.settings.highlight-img-1 | img_url }}" width="25" height="25" alt="">
            <span class="strip-4-title">{{ section.settings.highlight-title-1 }}</span>
        </div>
    </div>
    <div class="step-4">
        <div class="span-div-4">
            <img src="{{ section.settings.highlight-img-2 | img_url }}" width="25" height="25" alt="">
            <span class="strip-4-title">{{ section.settings.highlight-title-2 }}</span>
        </div>
    </div>
    <div class="step-4">
        <div class="span-div-4">
            <img src="{{ section.settings.highlight-img-3 | img_url }}" width="25" height="25" alt="">
            <span class="strip-4-title">{{ section.settings.highlight-title-3 }}</span>
        </div>
    </div>
    <div class="step-4">
        <div class="span-div-4">
            <img src="{{ section.settings.highlight-img-4 | img_url }}" width="25" height="25" alt="">
            <span class="strip-4-title">{{ section.settings.highlight-title-4 }}</span>
        </div>
    </div>
</div>



<style>
    .jgl-4-way{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        justify-content: center;
        align-items: center;
        background-color: #0d0d0d;
        height: 177px;
        margin-top: 30px;
    }

    .jgl-mobile-highlight{
        display: none;
    }

    .step-4{
        display: flex;
        justify-self: center;
        cursor: pointer;
    }

    .strip-4-title{
        color: white;
        font-weight: 400;
        line-height: 1.5;
        font-size: 16px;
        max-width: 150px;
        margin-top: 0.5rem;
        text-align: center;
    }

    .span-div-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        gap: 5px;
    }

    @media (max-width:900px){
        .jgl-4-way{
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: center;
            align-items: center;
            background-color: #000;
            height: 300px;
        }

        .strip-4-title{
            line-height: 20px;
            font-size: 15px;
        }
    
    }
</style>

{% schema %}
    {
        "name": "JGL 4 Way Strip",
        "settings": [
            {
                "type":"image_picker",
                "id":"highlight-img-1",
                "label": "First Highlight img"
            },
            {
                "type":"text",
                "id":"highlight-title-1",
                "label": "First Highlight Title",
                "default": "Free Shipping"
            },
            {
                "type":"image_picker",
                "id":"highlight-img-2",
                "label": "Second Highlight img"
            },
            {
                "type":"text",
                "id":"highlight-title-2",
                "label": "Second Highlight Title",
                "default": "Free Shipping"
            },       
            {
                "type":"image_picker",
                "id":"highlight-img-3",
                "label": "Third Highlight img"
            },   
            {
                "type":"text",
                "id":"highlight-title-3",
                "label": "Third Highlight Title",
                "default": "Free Shipping"
            },
            {
                "type":"image_picker",
                "id":"highlight-img-4",
                "label": "Fourth Highlight img"
            },           
             {
                "type":"text",
                "id":"highlight-title-4",
                "label": "Fourth Highlight Title",
                "default": "Free Shipping"
            }
        ],
        "presets": [
    {
      "name": "JGL 4 Way Strip"
    }]
}
{% endschema %}

