<div class="expert-section">
    <div class="title-expert">
        <h1>{{ section.settings.section-title }}</h1>
    </div>
    <div class="bottom-expert">
        <div class="banner-expert">
            <div class="btn-section">
                    <a href="{{ section.settings.btn-link }}" class="btn-1">{{ section.settings.btn-span }}</a>
                    <span>OR</span>
                    <a href="{{ section.settings.btn-link }}" class="btn-2">{{ section.settings.btn-span-2 }}</a>
            </div>
        </div>
        <div class="banner-icon">
            <img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/testimonial_icon_3edec10d-b370-4e48-a780-82a79287a36f_200x.avif?v=1672717170"  width="137" height="150" alt="">
        </div>
    </div>
</div>

<style>
    .expert-section{
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .title-expert{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title-expert > h1{
        font-weight: 700;
        font-size: 22px;
        line-height: 1.5;
        display: block;
        letter-spacing: 4.5px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    .banner-expert{
        display: flex;
        justify-content: center;
        align-items: end;
        background-image: url('https://cdn.shopify.com/s/files/1/0694/3499/9087/files/testimonial_banner_1594x_f82d5506-cbc9-4901-90f1-795e61a3a09b.webp?v=1672715220');
        height: 386px;
        max-width: 800px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 45px;
        }

        .btn-section{
            background: linear-gradient(180deg,transparent,#000 53.98%,#000);
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.4);            
            height: 30%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: end;
            z-index: 0;
            padding-bottom: 40px;
            gap: 15px;
        }

        .btn-section > span{
            color: #FFF;
        }
        .btn-1{
            border: 2px solid white;
            border-color: #fff;
            color: #fff;
            font-weight: 400;
            background-color: none;
            font-weight: 500;
            font-size: 17px;
            border-radius: 0;
            min-width: 140px;
            align-items: center;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            min-height: 41px;
            opacity: 1;
            cursor: pointer;
            text-decoration: none;

        }

        .btn-2{
            color: #FFF;
            background-color:  #F04F36;
            border-color:  #F04F36;
            font-weight: 500;
            font-size: 17px;
            border-radius: 0;
            min-width: 140px;
            align-items: center;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            min-height: 41px;
            opacity: 1;
            cursor: pointer;
            text-decoration: none;
        }

        .banner-icon{
            margin-left: 730px;
            margin-top: -116px;
            position: absolute;
        }

        .banner-icon > img{
            max-width: 100%;
            height: auto;
        }



</style>


{% schema %}
    {
        "name": "JGL Expert Section",
        "settings": [
            {
                "type":"text",
                "id": "section-title",
                "label": "Expert Section Title",
                "default": "OUR EXPERT TEAM IS HERE TO HELP"
            },
            {
                "type":"text",
                "id": "btn-span",
                "label": "First Button Label",
                "default": "Ask a Question"
            },
            {
                "type":"text",
                "id": "btn-span-2",
                "label": "Second Button Label",
                "default": "Chat With Us"
            },
            {
                "type":"url",
                "id": "btn-link",
                "label": "First Button Link"
            },
            {
                "type":"url",
                "id": "btn-link-2",
                "label": "Second Button Link"
            }
        ],
        "presets": [
    {
      "name": "JGL Experts Section"
    }]
    }
{% endschema %}