<div class="container">
    <h2 class="title text-center text-uppercase">
        {{section.settings.section-title}}
    </h2>
    <div class="experts-section">
        <div class="experts-image">
            <img src="{{section.settings.experts-img | img_url: '1280x'}}" alt="">
            <div class="experts-links">
                <a href="{{section.settings.btn-link}}">{{section.settings.btn-span}}</a>
                or
                <a href="{{section.settings.btn-link-2}}">{{section.settings.btn-span-2}}</a>
            </div>
            <div class="experts-off-image">
                <img src="" alt="">
            </div>
        </div>
        <div class="experts-slider-wrap">
            <div class="experts-slider">
                {% for block in section.blocks %}
                    <div class="experts-slide">
                        <svg width="42px" height="37px" viewBox="0 0 42 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M41.6875 36.4766L41.6875 20.8438L34.9978 20.8438L34.9978 19.2241C34.9978 15.4216 35.4086 12.3584 36.2301 10.0346C37.0516 7.71078 38.284 6.1029 39.927 5.21094L39.927 5.21094L39.927 0C35.2795 1.17363 31.8055 3.82605 29.5052 7.95724C27.2048 12.0884 26.0547 17.6984 26.0547 24.7872L26.0547 24.7872L26.0547 36.4766L41.6875 36.4766ZM15.6328 36.4766L15.6328 20.8438L8.9431 20.8438L8.9431 19.2241C8.9431 15.4216 9.35387 12.3584 10.1754 10.0346C10.997 7.71078 12.2293 6.1029 13.8724 5.21094L13.8724 5.21094L13.8724 0C9.22477 1.17363 5.75081 3.82605 3.45049 7.95724C1.15016 12.0884 0 17.6984 0 24.7872L0 24.7872L0 36.4766L15.6328 36.4766Z" id="“" fill="#EBE4E1" stroke="none"></path></svg>
                        <p>{{block.settings.quote}}</p>
                        <em>{{block.settings.author}}</em>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
    $('.experts-slider').slick({
            infinite: false,
            prevArrow: '<svg class="slide-arrow prev" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg>',
            nextArrow: '<svg class="slide-arrow next" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>'
        });
    });
</script>


<style>

    .experts-section {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 1fr;
        gap: 1.5rem;
        max-width: calc(100% - 44px);
        margin: 0 auto;
        margin-bottom: 8.125rem;
    }

    .experts-slider-wrap {
        padding-right: 24px;
    }

    .experts-image {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .experts-image img {
        width: 100%;
    }

    .experts-image::after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        height: 40%;
        opacity: .6;
        background: linear-gradient(180deg,transparent,#000 53.98%,#000);
        z-index: 0;
    }

    .experts-links {
        display: flex;
        justify-self: center;
        align-items: center;
        position: absolute;
        bottom: 1.5625rem;
        margin: 0 auto;
        gap: .625rem;
        z-index: 1;
        color: #fff;
    }

    .experts-links a {
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        min-height: 2.5625rem;
        color: #fff;
        background-color: #F04F36;
        border-color: #F04F36;
        font-weight: 500;
        font-size: 1.125rem;
        border-radius: 0;
        min-width: 8.75rem;
        text-decoration: none;
        border: 1px solid #F04F36;
    }

    .experts-links a:first-child {
        border-color: #fff;
        background-color: transparent;
        color: #fff;
        font-weight: 400;
    }

    .experts-slider {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 3rem;
    }

    .experts-slide p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .experts-slide em {
        color: #858383;
        font-size: .9rem;
        font-style: normal;
    }

    .experts-slider .slide-arrow {
        position: absolute;
        top: 0;
        width: 2rem;
        right: 0;
        stroke: #fff;
        stroke-width: .625rem;
    }

    .experts-slider .slide-arrow.prev {
        right: 3.125rem;
        top: 1.875rem;
    }

    .experts-slider .slide-arrow.next {
        right: .625rem;
        top: 1.875rem;
    }

    .experts-slider .slide-arrow.next[aria-disabled="true"] {
        opacity: .2;
    }
    .experts-slider .slide-arrow.prev[aria-disabled="true"] {
        opacity: .2;
    }
</style>


{% schema %}
    {
        "name": "JGL Expert Section",
        "settings": [
            {
                "type":"text",
                "id": "section-title",
                "label": "Expert Section Title",
                "default": "OUR EXPERT TEAM IS HERE TO HELP"
            },
            {
                "type":"text",
                "id": "btn-span",
                "label": "First Button Label",
                "default": "Ask a Question"
            },
            {
                "type":"text",
                "id": "btn-span-2",
                "label": "Second Button Label",
                "default": "Chat With Us"
            },
            {
                "type":"url",
                "id": "btn-link",
                "label": "First Button Link"
            },
            {
                "type":"url",
                "id": "btn-link-2",
                "label": "Second Button Link"
            },
            {
                "type": "image_picker",
                "id": "experts-img",
                "label": "Image"
            },
            {
                "type": "image_picker",
                "id": "off-image",
                "label": "Off image"
            }
        ],
        "blocks": [
            {
                "type": "slides",
                "name": "Slides",
                "settings": [
                    {
                        "type": "textarea",
                        "id": "quote",
                        "label": "Quote"
                    },
                    {
                        "type": "text",
                        "id": "author",
                        "label": "Author"
                    }
                ]
            }
        ],
        "presets": [
            {
            "name": "JGL Experts Section"
            }
        ]
    }
{% endschema %}