<div class="jgl-hero">
    <div class="img-div-hero">
        <img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/ZLINE_Kitchen_Lifestyle_-_Computer_3000x_761db27e-2409-4fde-9d3d-39e1327fecdd.webp?v=1673226199" alt="">
    </div>
    <div class="hero-content">
        <h2>{{ section.settings.hero-title }}</h2>
        <p>{{ section.settings.hero-sub }}</p>
        <a class="btn-shop" href="{{ section.settings.btn-url }}">Shop Now!</a>
    </div>
</div>

<div class="hero-mobile">
    <div class="img-div-mobile">
        <img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/Blanket_Cover_1800x_ee09fa18-62c3-4f57-a83d-f9927d2efb8d.webp?v=1673227509" alt="">
    </div>
    <div class="hero-inner-mob">
        <h2>{{ section.settings.hero-title }}</h2>
        <p>{{ section.settings.hero-sub }}</p>
        <a class="btn-shop" href="{{ section.settings.btn-url }}">Shop Now!</a>
    </div>
</div>


<style>

    .hero-mobile{
        display: none;
    }

    .img-div-hero > img{
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        width: 100%;
    }

    .hero-content{
        position: absolute;
        max-width: 500px;
        padding: 40px;
        top: 6%;
        transform: translateY(-50%);
        left: 50px;
        z-index: 10;
    }

    .hero-content > h2{
        max-width: 70%;
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
        letter-spacing: normal;
    }

    .hero-content > p{
        max-width: 70%;
        margin-bottom: 30px;
    }

    .btn-shop{
        min-width: 150px;
        background-color: #F04F36;
        padding-right: 3rem;
        padding-left: 3rem;  
        padding-top: 0.6em;
        padding-bottom: 0.6em;  
    }

    .btn-shop:link{
        color: white;
        text-decoration: none;
    }

    .btn-shop:visited{
        color: white;
        text-decoration: none;
    }

    @media (max-width:1000px) {
        .hero-mobile{
            display: block;
        }

        .jgl-hero{
            display: none;
        }

        .img-div-mobile{
            max-width: 100%;
            height: auto;
        }

        .img-div-mobile > img{
            width: 100%;
            height: auto;
        }

        .hero-inner-mob{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 2.5em;
            padding-right: 2.5em;
        }

        .hero-inner-mob > h2{
            font-size: 22.4px;
            text-transform: uppercase;
            line-height: 40px;
            text-align: center;
        }

        .hero-inner-mob > p{
            font-size: 16.2px;
            margin-top: 0.5em;
            max-width: 80%;
            text-align: center;
            margin-top: -5px;
        }

        .btn-shop{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 500;
            font-size: 17px;
            border-radius: 0;
            min-width: 140px;
        }
    }
</style>


{% schema %}
    {
        "name": "JGL Hero Section",
        "settings": [
            {
                "type":"text",
                "id":"hero-title",
                "label":"Hero Section Title",
                "default": "RENOVATE YOUR HOME FOR LESS"
            },
            {
                "type":"text",
                "id":"hero-sub",
                "label":"Hero Section Sub-Title",
                "default": "Start the year right with brand new appliances."
            },
            {
                "type":"url",
                "id":"hero-url",
                "label":"Hero Section Button Link"
            }
        ],
        
        "presets": [
    {
      "name": "JGL Hero Section"
    }]
}
{% endschema %}
