<div class="jgl-counter jgl-5-way" id="counter">
    <div class="step-5">
        <div class="span-div-5">
            <img src="{{ section.settings.highlight-img-1 | img_url }}" width="25" height="25" alt="">
            <span id="count1" class="strip-5-title counter">0</span>
            <small class="small-5">{{ section.settings.highlight-small-1 }}</small>
        </div>
    </div>
    <div class="step-5">
        <div class="span-div-5">
            <img src="{{ section.settings.highlight-img-2 | img_url }}" width="25" height="25" alt="">
            <span id="count2" class="strip-5-title counter">0</span>
            <small class="small-5">{{ section.settings.highlight-small-2 }}</small>
        </div>
    </div>
    <div class="step-5">
        <div class="span-div-5">
            <img src="{{ section.settings.highlight-img-3 | img_url }}" width="25" height="25" alt="">
            <span id="count3" class="strip-5-title counter">0</span>
            <small class="small-5">{{ section.settings.highlight-small-3 }}</small>
        </div>
    </div>
    <div class="step-5">
        <div class="span-div-5">
            <img src="{{ section.settings.highlight-img-4 | img_url }}" width="25" height="25" alt="">
            <span id="count4" class="strip-5-title counter">0</span>
            <small class="small-5">{{ section.settings.highlight-small-4 }}</small>
        </div>
    </div>
    <div class="step-5">
      <div class="span-div-5">
          <img src="{{ section.settings.highlight-img-5 | img_url }}" width="25" height="25" alt="">
          <span id="count5" class="strip-5-title counter">0</span>
          <small class="small-5">{{ section.settings.highlight-small-5 }}</small>
      </div>
  </div>
</div>

<style>
    .jgl-5-way{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .jgl-mobile-highlight{
        display: none;
    }

    .step-5{
        display: flex;
        justify-self: center;
        cursor: pointer;
    }

    .strip-5-title{
        color: #000;
        font-weight: 400;
        line-height: 1.5;
        font-size: 1.75rem;
        max-width: 150px;
        margin-top: 0.5rem;
        text-align: center;
    }

    .span-div-5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        gap: 5px;
    }

    .span-div-5 img {
        height: auto;
        width: auto;
        max-width: 24px;
        max-height: 30px;
    }

    .small-5 {
      font-size: 13px;
      line-height: 20px;
      text-align: center;
    }

    @media (max-width:900px){
        .jgl-5-way{
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: center;
            align-items: center;
            height: auto;
            gap: 30px 0px;
        }

        .strip-5-title{
            line-height: 20px;
            font-size: 15px;
        }
        
        .span-div-5 {
            margin: 0;
        }

        .span-div-5 img {
            max-height: 40px;
            max-width: 34px;
            width: auto;
        }
    }
</style>

<script>
    function isInViewport(element) {
        var rect = element.getBoundingClientRect();
        var html = document.documentElement;
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || html.clientHeight) &&
            rect.right <= (window.innerWidth || html.clientWidth)
        );
    }

    function numberWithCommas(n) {
        var parts=n.toString().split(".");
        return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
    document.addEventListener("DOMContentLoaded", () => {
        var endingCounterVar = [{{ section.settings.highlight-title-1 | times: 1 }}, {{ section.settings.highlight-title-2 | times: 1 }}, {{ section.settings.highlight-title-3 | times: 1 }}, {{ section.settings.highlight-title-4 | times: 1 }}, {{ section.settings.highlight-title-5 | times: 1 }}];
        window.addEventListener("scroll", function(){
            if (isInViewport(document.getElementById("counter")) ) {
                if (!document.getElementById("counter").classList.contains("scrolled")) {
                    document.getElementById("counter").classList.add("scrolled");
                    for (let i = 1; i < 5; i++) {
                        
                        let counter = { var: 0 };
                        let tal = document.getElementById("count"+i);
                        
                        TweenMax.to(counter, 4, {
                        var: endingCounterVar[i], 
                            onUpdate: function () {
                                console.log(i)
                                let nwc = numberWithCommas(counter.var);
                                tal.innerHTML = nwc;
                            },
                            ease:Circ.easeOut
                        });
                    }
                }
            }
        });
    });
    
</script>

{% schema %}
  {
      "name": "JGL Box Counter",
      "settings": [
        {
            "type": "text",
            "id": "timer",
            "label": "Timer animation speed in miliseconds",
            "default": "3500"
        },
          {
              "type":"image_picker",
              "id":"highlight-img-1",
              "label": "First Highlight img"
          },
          {
              "type":"text",
              "id":"highlight-title-1",
              "label": "First Highlight Title, MUST BE NUMBER",
              "default": "Free Shipping"
          },
          {
              "type":"text",
              "id":"highlight-small-1",
              "label": "First Highlight Subtitle",
              "default": "default"
          },
          {
              "type":"image_picker",
              "id":"highlight-img-2",
              "label": "Second Highlight img"
          },
          {
              "type":"text",
              "id":"highlight-title-2",
              "label": "Second Highlight Title, MUST BE NUMBER",
              "default": "Free Shipping"
          },
          {
              "type":"text",
              "id":"highlight-small-2",
              "label": "First Highlight Subtitle",
              "default": "default"
          },  
          {
              "type":"image_picker",
              "id":"highlight-img-3",
              "label": "Third Highlight img"
          },   
          {
              "type":"text",
              "id":"highlight-title-3",
              "label": "Third Highlight Title, MUST BE NUMBER",
              "default": "Free Shipping"
          },
          {
              "type":"text",
              "id":"highlight-small-3",
              "label": "First Highlight Subtitle",
              "default": "default"
          },
          {
              "type":"image_picker",
              "id":"highlight-img-4",
              "label": "Fourth Highlight img"
          },           
           {
              "type":"text",
              "id":"highlight-title-4",
              "label": "Fourth Highlight Title, MUST BE NUMBER",
              "default": "Free Shipping"
          },
          {
              "type":"text",
              "id":"highlight-small-4",
              "label": "First Highlight Subtitle",
              "default": "default"
          },
          {
              "type":"image_picker",
              "id":"highlight-img-5",
              "label": "Fourth Highlight img"
          },           
           {
              "type":"text",
              "id":"highlight-title-5",
              "label": "Fourth Highlight Title, MUST BE NUMBER",
              "default": "Free Shipping"
          },
          {
              "type":"text",
              "id":"highlight-small-5",
              "label": "First Highlight Subtitle",
              "default": "default"
          }
      ],
      "presets": [
  {
    "name": "JGL Box Counter"
  }]
}
{% endschema %}