<div class="title-faq">
    <h1>FAQ'S</h1>
</div>

<div class="so-accordion-wrapper">
    <div class="so-tab"><input id="so-tab-1" type="checkbox" name="tabs" /> <label for="so-tab-1">{{ section.settings.faq-question-1 }}</label>
    <div class="so-tab-content">
    <p>{{ section.settings.faq-answer-1 }}</p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-2" type="checkbox" name="tabs" /> <label for="so-tab-2">{{ section.settings.faq-question-2 }}</label>
    <div class="so-tab-content">
    <p>{{ section.settings.faq-answer-2 }}</p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-3" type="checkbox" name="tabs" /> <label for="so-tab-3">{{ section.settings.faq-question-3 }}</label>
    <div class="so-tab-content">
    <p>{{ section.settings.faq-answer-3 }}</p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-4" type="checkbox" name="tabs" /> <label for="so-tab-4">{{ section.settings.faq-question-4 }}</label>
    <div class="so-tab-content">
    <p>{{ section.settings.faq-answer-4 }}</p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-5" type="checkbox" name="tabs" /> <label for="so-tab-5">{{ section.settings.faq-question-5 }}</label>
    <div class="so-tab-content">
    <p>{{ section.settings.faq-answer-5 }}</p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-6" type="checkbox" name="tabs" /> <label for="so-tab-6">{{ section.settings.faq-question-6 }}</label>
    <div class="so-tab-content">
    <p>{{ section.settings.faq-answer-6 }}</p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-7" type="checkbox" name="tabs" /> <label for="so-tab-7">{{ section.settings.faq-question-7 }}</label>
    <div class="so-tab-content">
    <p>{{ section.settings.faq-answer-7 }}</p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-8" type="checkbox" name="tabs" /> <label for="so-tab-8">{{ section.settings.faq-question-8 }}</label>
    <div class="so-tab-content">
    <p>{{ section.settings.faq-answer-8 }}</p>
    </div>
    </div>
    
    </div>

    <div class="still-need-div">
        <div class="inner-div">
            <div>
                <h1>STILL NEED HELP?</h1>
                <span>Have a chat with our representative, we’ll be glad to help.</span>
            </div>
            <div><img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/support1_400x_edbca14e-aa0d-4d09-98ee-8e2c071bac8c.webp?v=1673013165" alt=""></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/contact_2_400x_e90cdcca-e726-452c-bf5a-0c84d8cb1cdc.webp?v=1673013164" alt=""></div>
        </div>
    </div>

 
 <!-- Begin Accordion Snippet --><style>
    .title-faq{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .so-accordion-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .so-tab {
        position: relative;
        width: 60%;
        overflow: hidden;
        margin: 25px 0;
    }
        .so-tab label {
        position: relative;
        display: block;
        padding: 0 25px 0 0;
        margin-bottom: 15px;
        line-height: normal;
        cursor: pointer;
        }
        .so-tab input {
        position: absolute;
        opacity: 0;
        z-index: -1;
        }
        .so-tab-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height .35s;
        }
        /* :checked */
        .so-tab input:checked ~ .so-tab-content {
        max-height: none;
        }
        /* Icon */
        .so-tab label::after {
        position: absolute;
        right: 0;
        top: -20px;
        display: block;
        width: 3em;
        height: 3em;
        line-height: 3;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
        }
        .so-tab input[type=checkbox] + label::after {
        content: "+";
        }
        .so-tab input[type=radio] + label::after {
        content: "\25BC";
        }
        .so-tab input[type=checkbox]:checked + label::after {
        transform: rotate(315deg);
        }
        .so-tab input[type=radio]:checked + label::after {
        transform: rotateX(180deg);
        
        }

        .still-need-div{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 93%;
            border: 3px solid #072C50;
        }

        .inner-div{
            display: flex;
        }

        @media (max-width:769px) {
            .so-tab {
                width: 90%;
            }
        }
        </style>



        {% schema %}
            {
                "name": "JGL FAQ",
                "settings": [
                    {
                        "type":"text",
                        "id": "faq-question-1",
                        "label": "Question 1",
                        "default": "About Trusted Home Direct"
                    },
                    {
                        "type":"text",
                        "id": "faq-answer-1",
                        "label": "Answer 1 ",
                        "default": "Trusted Home Direct is a family-owned company with a simple, defined goal of helping homeowners source affordable and luxurious home appliances from the world’s most trusted brands. At the core of our team are our knowledgeable customer service agents that will help you find appliances with ease and comfort."
                    },
                    {
                        "type":"text",
                        "id": "faq-question-2",
                        "label": "Question 2",
                        "default": "Are you an authorized dealer?"
                    },
                    {
                        "type":"text",
                        "id": "faq-answer-2",
                        "label": "Answer 2",
                        "default": "We are an authorized dealer for all the brands we sell. We partner with the highest quality brands only."
                    },
                    {
                        "type":"text",
                        "id": "faq-question-3",
                        "label": "Question 3",
                        "default": "About Trusted Home Direct"
                    },
                    {
                        "type":"text",
                        "id": "faq-answer-3",
                        "label": "Answer 3",
                        "default": "Trusted Home Direct is a family-owned company with a simple, defined goal of helping homeowners source affordable and luxurious home appliances from the world’s most trusted brands. At the core of our team are our knowledgeable customer service agents that will help you find appliances with ease and comfort."
                    },
                    {
                        "type":"text",
                        "id": "faq-question-4",
                        "label": "Question 4",
                        "default": "About Trusted Home Direct"
                    },
                    {
                        "type":"text",
                        "id": "faq-answer-4",
                        "label": "Answer 4",
                        "default": "Trusted Home Direct is a family-owned company with a simple, defined goal of helping homeowners source affordable and luxurious home appliances from the world’s most trusted brands. At the core of our team are our knowledgeable customer service agents that will help you find appliances with ease and comfort."
                    },                    {
                        "type":"text",
                        "id": "faq-question-5",
                        "label": "Question 5",
                        "default": "About Trusted Home Direct"
                    },
                    {
                        "type":"text",
                        "id": "faq-answer-5",
                        "label": "Answer 5",
                        "default": "Trusted Home Direct is a family-owned company with a simple, defined goal of helping homeowners source affordable and luxurious home appliances from the world’s most trusted brands. At the core of our team are our knowledgeable customer service agents that will help you find appliances with ease and comfort."
                    },                    {
                        "type":"text",
                        "id": "faq-question-6",
                        "label": "Question 6",
                        "default": "About Trusted Home Direct"
                    },
                    {
                        "type":"text",
                        "id": "faq-answer-6",
                        "label": "Answer 6",
                        "default": "Trusted Home Direct is a family-owned company with a simple, defined goal of helping homeowners source affordable and luxurious home appliances from the world’s most trusted brands. At the core of our team are our knowledgeable customer service agents that will help you find appliances with ease and comfort."
                    },                    {
                        "type":"text",
                        "id": "faq-question-7",
                        "label": "Question 7",
                        "default": "About Trusted Home Direct"
                    },
                    {
                        "type":"text",
                        "id": "faq-answer-7",
                        "label": "Answer 7 ",
                        "default": "Trusted Home Direct is a family-owned company with a simple, defined goal of helping homeowners source affordable and luxurious home appliances from the world’s most trusted brands. At the core of our team are our knowledgeable customer service agents that will help you find appliances with ease and comfort."
                    },
                    {
                        "type":"text",
                        "id": "faq-question-8",
                        "label": "Question 8",
                        "default": "About Trusted Home Direct"
                    },
                    {
                        "type":"text",
                        "id": "faq-answer-8",
                        "label": "Answer 8 ",
                        "default": "Trusted Home Direct is a family-owned company with a simple, defined goal of helping homeowners source affordable and luxurious home appliances from the world’s most trusted brands. At the core of our team are our knowledgeable customer service agents that will help you find appliances with ease and comfort."
                    }
                ],
                "presets": [
            {
              "name": "JGL FAQ"
            }]
        }
        {% endschema %}